
.gitattributes
12on7/d3d12.dll
amd_ags_x64.dll
anim_0.rpf
appdata0_update.rpf
bink2w64.dll
common_0.rpf
data_0.rpf
dxilconv7.dll
ffx_fsr2_api_dx12_x64.dll
ffx_fsr2_api_vk_x64.dll
ffx_fsr2_api_x64.dll
hd_0.rpf
installscript.vdf
installscript_sdk.vdf
levels_0.rpf
levels_1.rpf
levels_2.rpf
levels_3.rpf
levels_4.rpf
levels_5.rpf
levels_6.rpf
levels_7.rpf
movies_0.rpf
NvLowLatencyVk.dll
nvngx_dlss.dll
oo2core_5_win64.dll
packs_0.rpf
packs_1.rpf
PlayRDR2.exe
RDR2.exe
Redistributables/Rockstar-Games-Launcher.exe
Redistributables/Social-Club-Setup.exe
Redistributables/VulkanRT-1.1.108.0-Installer.exe
rowpack_0.rpf
shaders_x64.rpf
steam_api64.dll
textures_0.rpf
textures_1.rpf
title.rgl
update_1.rpf
update_2.rpf
update_3.rpf
update_4.rpf
x64/audio/audio_rel.rpf
x64/audio/sfx/ANIMALS_FAR.rpf
x64/audio/sfx/ANIMALS_HORSES.rpf
x64/audio/sfx/ANIMALS_NEAR.rpf
x64/audio/sfx/CUTSCENE_MASTERED_ONLY.rpf
x64/audio/sfx/INTERACTIVE_MUSIC.rpf
x64/audio/sfx/MUSIC_2T.rpf
x64/audio/sfx/ONESHOT_AMBIENCE.rpf
x64/audio/sfx/PEDS_00.rpf
x64/audio/sfx/PEDS_01.rpf
x64/audio/sfx/PEDS_02.rpf
x64/audio/sfx/PEDS_03.rpf
x64/audio/sfx/PEDS_04.rpf
x64/audio/sfx/PEDS_05.rpf
x64/audio/sfx/PEDS_06.rpf
x64/audio/sfx/PEDS_07.rpf
x64/audio/sfx/PEDS_08.rpf
x64/audio/sfx/PEDS_09.rpf
x64/audio/sfx/PEDS_10.rpf
x64/audio/sfx/RDR3.Resident.rpf
x64/audio/sfx/RESIDENT.rpf
x64/audio/sfx/S_MISC.rpf
x64/audio/sfx/S_RE.rpf
x64/audio/sfx/S_VOFX.rpf
x64/audio/sfx/SCORE_01.rpf
x64/audio/sfx/SCORE_02.rpf
x64/audio/sfx/SCORE_03.rpf
x64/audio/sfx/SCORE_04.rpf
x64/audio/sfx/SCORE_05.rpf
x64/audio/sfx/SCORE_06.rpf
x64/audio/sfx/SCRIPT.rpf
x64/audio/sfx/SS_AM.rpf
x64/audio/sfx/SS_NZ.rpf
x64/audio/sfx/STREAMED_AMBIENCE.rpf
x64/audio/sfx/STREAMS.rpf
x64/audio/sfx/STREAMS_AS.rpf
x64/audio/sfx/THUNDER.rpf
x64/audio/sfx/VEHICLES.rpf
x64/audio/sfx/WALLA.rpf
x64/audio/sfx/WEAPONS_PLAYER.rpf
x64/crashpad/release/crashpad_handler.exe
x64/data/errorcodes/american.txt
x64/data/errorcodes/chinese.txt
x64/data/errorcodes/chinesesimp.txt
x64/data/errorcodes/french.txt
x64/data/errorcodes/german.txt
x64/data/errorcodes/italian.txt
x64/data/errorcodes/japanese.txt
x64/data/errorcodes/korean.txt
x64/data/errorcodes/mexican.txt
x64/data/errorcodes/polish.txt
x64/data/errorcodes/portuguese.txt
x64/data/errorcodes/russian.txt
x64/data/errorcodes/spanish.txt
x64/dlcpacks/dlc_content_extra/dlc.rpf
x64/dlcpacks/mp001/dlc.rpf
x64/dlcpacks/mp003/dlc.rpf
x64/dlcpacks/mp004/dlc.rpf
x64/dlcpacks/mp005/dlc.rpf
x64/dlcpacks/mp006/dlc.rpf
x64/dlcpacks/mp007/dlc.rpf
x64/dlcpacks/mp008/dlc.rpf
x64/dlcpacks/mp009/dlc.rpf
x64/dlcpacks/opt001/dlc.rpf
x64/dlcpacks/patchpack001/dlc.rpf
x64/dlcpacks/patchpack002/dlc.rpf
x64/dlcpacks/patchpack003/dlc.rpf
x64/dlcpacks/patchpack004/dlc.rpf
x64/dlcpacks/patchpack005/dlc.rpf
x64/dlcpacks/patchpack006/dlc.rpf
x64/dlcpacks/patchpack007/dlc.rpf
x64/dlcpacks/patchpack008/dlc.rpf
x64/dlcpacks/patchpack009/dlc.rpf
x64/dlcpacks/patchpack_mp001/dlc.rpf
x64/dlcpacks/patchpack_mp003/dlc.rpf
x64/dlcpacks/patchpack_mp006/dlc.rpf
x64/dlcpacks/row_patchpack002/dlc.rpf
x64/dlcpacks/row_patchpack005/dlc.rpf
x64/dlcpacks/row_patchpack008/dlc.rpf
x64/metadata.dat
